body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}
#submitted, #unsubmitted{
    background-color: hsl(213, 19%, 18%);
}

#submitted{
    display:none;
}